#map {
    width: 100%;
    height: 500px; /* Adjust as needed */
    background: url('path-to-map-image.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
  }
  
  .marker {
    width: 20px; /* Marker size */
    height: 20px;
    border-radius: 50%; /* Makes it circular */
    background-color: red; /* Marker color */
    position: absolute;
  }
  
  /* Color customization for different markers */
  .marker.yellow { background-color: yellow; }
  .marker.orange { background-color: orange; }
  /* Hide the checkbox */
.toggle-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

/* Styles for the on/off switch */
.toggle-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

/* Circle inside the switch */
.toggle-label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

/* Style when the switch is in the 'ON' position */
.toggle-checkbox:checked + .toggle-label {
  background: #8bc34a;
}

/* Move the circle to the right when the switch is 'ON' */
.toggle-checkbox:checked + .toggle-label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

#schoolsToggleContainer {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 400;
}
    #map {
      height: 600px;
    }
    .button {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 400;
      background: white;
      padding: 5px;
      border-radius: 30px;
      margin-right: 80px; /* Adjust spacing */
    }
    .toggle-description {
  margin-top: 5px; /* Adds a little space between the toggle and the text */
  font-size: 12px; /* Set the font size */
  color: #666; /* Set the text color */
  text-align: center; /* Center the text */
}
#summaryStats {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  font-family: Arial, sans-serif;
  z-index: 400;
}

#summaryStats h4 {
  margin-top: 0;
  color: #4CAF50; /* Adjust color as needed */
}

#summaryStats p {
  margin-bottom: 5px; /* Adjust spacing as needed */
  color: #555; /* Adjust color as needed */
}

#summaryStats i {
  margin-right: 5px;
}
.hidden {
  display: none;
}


